/* Allgemein */
:root {
  font-family: Arial, Helvetica, sans-serif;
  --main-color: #22376f;
  --secondary-color: #53619e;
  --shadow: rgba(0, 0, 0, 0.2);
}

* {
  box-sizing: border-box;
  hyphens: auto;
  margin: 0px;
  padding: 0px;
}

/* Navigation & Footer */
nav {
  position: sticky;
}

nav ul,
footer ul {
  background-color: var(--main-color);
  list-style-type: none;
  overflow: hidden;
}

nav li,
footer li {
  float: left;
}

nav li a,
nav .dropdown-button,
footer li a {
  color: #fff;
  display: inline-block;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}

nav li a:hover,
nav .dropdown:hover .dropdown-button,
footer li a:hover {
  background-color: var(--secondary-color);
  transition: 0.5s;
}

nav .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  /* min-width: 100px; */
  box-shadow: 0px 8px 16px 0px var(--shadow);
  z-index: 1;
}

nav .dropdown-content a {
  color: black;
  display: block;
  padding: 14px 16px;
  text-align: left;
}

nav .dropdown-content a:hover {
  background-color: #f1f1f1;
}

nav .dropdown:hover .dropdown-content {
  display: block;
}

nav #kontakt {
  float: right;
}
