:root{
	--main-color: #22376f;
}

body {
	margin: 0px;
	min-width: 360px;
	font-family: sans-serif;
}

footer {
	background-color: #22376f;
	color: white;
	position: fixed;
	bottom: 0px;
	width: 100%;

}

footer ul {
	list-style-type: none;
}

#topmenu {
	position: sticky;
	top: 0;
}

#topmenu ul , footer ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: var(--main-color);
}

#topmenu li, footer li {
	float: left;
}


#topmenu li a, #topmenu .dropbtn, footer li a {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

#topmenu li a:hover, #topmenu .dropdown:hover .dropbtn, footer li a:hover {
	transition: 0.5s;
	background-color: #53619e;
}

#topmenu li.dropdown {
	display: inline-block;
}

#topmenu .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

#topmenu .dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

#topmenu .dropdown-content a:hover {
	background-color: #f1f1f1;
}

#topmenu .dropdown:hover .dropdown-content {
	display: block;
}

#topmenu #kontakt {
	float: right;
}

.content {
	margin-bottom: 60px;
	padding-left: 1em;
	padding-right: 1em;
}

.impressumList {
	display: flex;
	padding: 20px;
}

.impressumItem {
	flex: 20%;
	border: 1px solid #22376f;
	padding: .5em;
	margin: .5em;
}

@media screen and (max-width:1080px) {
	.impressumList {
		display: block;
	}
}